.development{
    padding-top: 101px;
}

.development__title{
    font-size: 20px;
    line-height: 187.5%;
    color: #222222;
}

.development__desc{
    font-size: 12px;
    line-height: 187.5%;
    color: #525252;
}

.development__wrapper{
    max-width: 820px;
}

.list-title{
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 30px;
}

.development__item{
    max-width: 260px;
    height: 171px;
    margin-bottom: 66px;
    padding-top: 95px;
    &:last-child{
        margin: 0;
    }
    &::before{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        content: "";
        background-image: url("../../images/icons/card-first.svg");
        background-repeat: no-repeat;
        width: 65px;
        height: 65px;
    }
    &:nth-child(2)::before{
        background-image: url("../../images/icons/card-second.svg");
    }
    &:nth-child(3)::before{
        background-image: url("../../images/icons/card-third.svg");
    }
    &:nth-child(4)::before{
        background-image: url("../../images/icons/card-fourth.svg");
    }
    &:nth-child(5)::before{
        background-image: url("../../images/icons/fifth.svg");
    }
    &:nth-child(6)::before{
        background-image: url("../../images/icons/sixth.svg");
    }

}

.development__list{
    margin-top: 100px;
}

@media screen and (min-width: 768px){
    .development{
        padding-top: 165px;
    }

    .development__title{
        margin-bottom: 24px;
        font-size: 25px;
    }
    .development__desc{
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (min-width: 1196px){
    .development__item{
        &:nth-child(2){
            margin: 0 20px;
        }
        &:nth-child(4){
            margin-left: 20px;
        }
        &:last-child{
            margin-left: 20px;
        }
    }
}